.navigation {
  height: 60px;
  width: 100%;
  display: flex;
  margin-bottom: 15px;
  box-shadow: 0 -1px #ddd inset;
  justify-content: space-between;

  .logo-container {
    width: 40px;
    padding: 10px 10px 5px 15px;
  }

  .nav-links-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .nav-link {
      padding: 15px 15px 5px 15px;
      cursor: pointer;
      text-decoration: none;
      color: #7b588d;
      font-size: 20px;
    }
  }
}

.nav-links-left {
  margin-left: 15px;
}

.nav-links-right {
  margin-right: 15px;
}